:root{
    --light: white;
    --dark: rgb(37, 37, 37);
    --light-text: var(--dark);
    --dark-text: white;
    --primary-color: #1DE9B6;
    --primary-dark-var: #00BFA5;
    --primary-light-var: #64FFDA;
    --secondary-color: #e91d50;
    --secondary-light-var: #ee4b74;
    --secondary-dark-var: #a91037;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: block;
    background-color: var(--light);
    padding: 5px;
    color: var(--light-text);
}

body.dark{
    display: block;
    background-color: var(--dark);
    color: var(--dark-text)
}

body.dark .header a, .content{
    color: var(--dark-text);
}

@media screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 15vh 70vh 10vh;
        grid-template-areas:  
            "header header"
            "sidebar content"
            "footer footer";
        gap: 7px;
    }

    .sidebar{
        max-width: 1fr;
        background-color: var(--primary-dark-var);
    }

    #favorite-book{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 3fr;
        gap: 10px;
    }
    
    #favorite-book h2{
        grid-column: 1 / 2;
        align-self: center;
    }
    
    #favorite-book p, q{
        grid-column: 1;
        grid-row: 2 / -1;
        font-size: large;
    }
    
    #favorite-book img{
        grid-row: 1 / -1;
        grid-column: 2;
        place-self: center;
        position: relative; 
        display: block;    
        bottom: 5em;  
    }

    #favorite-book a{
        grid-column: 2;
        grid-row: 2;
        place-self: center;
        position: relative;
        top: 8em;
        border: 2px solid var(--dark);
        border-radius: 10px;
        background-color: var(--primary-light-var);
        text-decoration: none;
        color:rgb(37, 37, 37);
        padding: 1em;
    }

    #loved-place{
        padding: 2em;
        gap: 4px;
        max-height: 70%;
        width: 100%;
    }

    .place-text{
        grid-column: 1;
        grid-row: 1 / 3;
    }

    .place-img{
        overflow-y: scroll;
        overflow-x: hidden;
        grid-column: 2;
        grid-row: 1 / 3;
        border: 3px solid var(--primary-dark-var);
        position: relative;
        place-self: center;
        flex-basis: 40%;
        height: 85%; 
    }

    .place-img::-webkit-scrollbar{
        width: 0.6em;
    }

    .place-img::-webkit-scrollbar-thumb{
        background-color: darkgrey;
        outline: 1px solid slategray;
        border-radius: 10px;
    }

    #loved-place .place-img img{
        max-height: 40%;
        max-width: 100%;
        min-width: 100%;
        border: 3px solid white;
        display: block;
    }
    
    #feedback-form{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-height: 100%;
        overflow: scroll;
    }
    
    .form-head{
        margin: 2em 0;
    }
    
    #feedback-form form{
        display: inline-block;
        width: 100%;
    }
    
    .form-input{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: start;
        gap: 0.5em;
        border: 3px solid var(--primary-dark-var);
        border-radius: 8px;
        margin: 1em;
        padding: 1em;
    }
    .feedback{
        grid-template-columns: 1fr auto 1fr;
    }

    .rating{
        grid-column: 1;
        align-self: center;
    }
    
    .how-found{
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        text-align: left;
        grid-column: 1;
    }
    
    #how-found-dropdown{
        display: block;
        width:100%;
        border: 2px solid;
        margin: 0.5em 0;
        border-radius: 8px;
    }

    .user-message{
        grid-row: 2;
        grid-column: 2;
        justify-self: end;
    }

    .form-input textarea{
        grid-column: 3;
        grid-row: 2 / 4;
        width: 100%;
    }

}
@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .sidebar{
        background-color: var(--primary-dark-var);
    }

    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: start;
        grid-area: "sidebar";
        list-style-type: none;
        text-align: center;
        height: 100%;
        font-size: 1em;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px var(--dark);
    }

    #home{
        height: 100vh;
    }

    #favorite-book{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #favorite-book a{
        grid-column: 2;
        grid-row: 2;
        place-self: center;
        position: relative;
        border: 2px solid var(--dark);
        border-radius: 10px;
        background-color: var(--primary-light-var);
        text-decoration: none;
        color:rgb(37, 37, 37);
        padding: 1em;
    }

    #loved-place{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }

    .place-img{
        overflow: hidden;
        border: 3px solid var(--primary-dark-var);
        width: 90%;
        margin: 5em 0;
    }

    #loved-place img{
        max-height: 40%;
        width: 85vw;
        border: 3px solid white;
        display: block;
    }

    #feedback-form{
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        max-height: 100%;
    }
    
    .form-head{
        margin: 2em 0;
    }
    
    #feedback-form form{
        display: inline-block;
        width: 100%;
    }
    
    .form-input{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: start;
        border: 3px solid var(--primary-dark-var);
        border-radius: 8px;
        margin: 1em;
        padding: 1em;
    }
    
    .how-found{
        margin: 1em 0;
        text-align: left;
    }
    
    #how-found{
        display: inline-block;
        width:100%;
    }

    textarea{
        width: 100%
    }
}

.content::-webkit-scrollbar{
    width: 0.9em;
}

.content::-webkit-scrollbar-thumb{
    background-color: darkgrey;
    outline: 1px solid slategray;
    border-radius: 10px;
}

.header, .sidebar, .content, .footer{
    border: 1px solid rgb(94, 94, 94);
    box-shadow: 3px 3px 3px var(--dark);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    grid-area: "header";
    background-color: var(--primary-color);
    padding: 1em;
}

.header > h1, .header a{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary-color);
}

.header:hover{
    background-color: var(--primary-dark-var);
}

#user-icon{
    height: 3.5em;
    background-color:var(--primary-light-var);
    border-radius: 50%;
    padding: 0.5em;
}

.content{
    display: grid;
    place-content: center;
    text-align: center;
}

.sidebar{
    overflow: hidden;
}

.navigation{
    display: block;
    text-align: center;
    font-size: 160%;
}

.navigation > li{
    display: block;
    height: 100%;
    color: white;
    font-size: 100%;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    min-height: 1fr;
}

.navigation > li:first-child{
    min-height: 1fr;
    padding: 1em 0;
}

.navigation > li a{
    display: block;
    text-decoration: none;
    height: 100%;
    padding: 1em 0;
    color: inherit;
    -webkit-text-stroke: 1px black;
}

.navigation > li:nth-child(2n){
    background-color: var(--primary-color);
}

.navigation > li:hover{
    background-color: var(--primary-light-var);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow-y: scroll;
    overflow-x: hidden;
    color: inherit;
}

.content > section{
    display: grid;
    place-content: center;
    border: 2px dotted black; 
    height: 100%;
    width: 100%;
    min-height: 100%;
    block-size: 100%;
}

#home{
    font-size: 2em;
}

#loved-place h2{
    align-self: center;
    padding: 5px 0;
}

#loved-place p{
    text-align: left;
}

#loved-place a{
    display: inline-block;
    position: relative;
    grid-column: 1;
    grid-row: 2 / 3;
    border: 2px solid var(--dark);
    border-radius: 10px;
    background-color: var(--primary-light-var);
    text-decoration: none;
    color:rgb(37, 37, 37);
    padding: 1em;
    margin: 1em 0;
}

.hidden-container{
    grid-row: 2;
    grid-column: 1; 
    display: grid;
    grid-template-columns: auto;
    position: relative;
    z-index: 2;
    place-self: center;
    top: 2em;
    height: 70%;
    width: 90%;
}

#loved-place .hidden{
    grid-row: 1;
    grid-column: 1;
    height: 100%;
    min-height: 90%;
    max-width: 100%;
    display: none;
}

.place-img:has(> img[alt="isla holbox view"]:hover) ~ .hidden-container > img[alt="isla holbox view"]{
    display: block;
}

.place-img:has(> img[alt="isla holbox letters"]:hover) ~ .hidden-container > img[alt="isla holbox letters"]{
    display: block;
}

.place-img:has(> img[alt="isla holbox road"]:hover) ~ .hidden-container > img[alt="isla holbox road"]{
    display: block;
}

.place-img:has(> img[alt="isla holbox swing"]:hover) ~ .hidden-container > img[alt="isla holbox swing"]{
    display: block;
}

.form-button{
    font-size: large;
    padding: 0.8em;
    border-radius: 15px;
    font-weight: bold;
    margin: 0 1em;
}

.form-button:hover{
    cursor: pointer;
}

.form-button[type="submit"]{
    background-color: var(--primary-color);
}

.form-button[type="reset"]{
    background-color: var(--secondary-color);
}

.footer{
    display: grid;
    place-content: center;
    text-align: center;
    grid-area: "footer";
    background-color: var(--primary-color);
    grid-column: 1 / -1;
    color: var(--light-text);
    font-size: 1.3em;
}

.footer a{
    color: inherit;    
}

