:root{
    --light: white;
    --dark: rgb(37, 37, 37);
    --light-text: var(--dark);
    --dark-text: white;
    --primary-color: #1DE9B6;
    --primary-dark-var: #00BFA5;
    --primary-light-var: #64FFDA;
    --secondary-color: #e91d50;
    --secondary-light-var: #ee4b74;
    --secondary-dark-var: #a91037;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    display: block;
    background-color: var(--light);
    padding: 5px;
    color: var(--light-text);
}

body.dark{
    display: block;
    background-color: var(--dark);
    color: var(--dark-text)
}

body.dark .header a, .content{
    color: var(--dark-text);
}

@media screen and (min-width: 768px) {
    .container{
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 15vh 70vh 10vh;
        grid-template-areas:  
            "header header"
            "sidebar content"
            "footer footer";
        gap: 7px;
    }

    .sidebar{
        max-width: 1fr;
        background-color: var(--primary-dark-var);
    }

    /* .navigation{
        display: flex;
        flex-direction: column;
        justify-content: start;
        grid-area: "sidebar";
        list-style-type: none;
        text-align: center;
        height: 100%;
        font-size: 2em;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px var(--dark);
    } */

    #favorite-book{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 1fr 3fr;
        gap: 10px;
    }
    
    #favorite-book h2{
        grid-column: 1 / 2;
        align-self: center;
    }
    
    #favorite-book p, q{
        grid-column: 1;
        grid-row: 2 / -1;
        font-size: large;
    }
    
    #favorite-book img{
        grid-row: 1 / -1;
        grid-column: 2;
        place-self: center;
        position: relative; 
        display: block;    
        bottom: 5em;  
    }

    #favorite-book a{
        grid-column: 2;
        grid-row: 2;
        place-self: center;
        position: relative;
        top: 8em;
        border: 2px solid var(--dark);
        border-radius: 10px;
        background-color: var(--primary-light-var);
        text-decoration: none;
        color:rgb(37, 37, 37);
        padding: 1em;
    }

    #loved-place{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }
}
@media screen and (max-width: 768px) {
    .container{
        display: flex;
        flex-direction: column;
    }

    .sidebar{
        background-color: var(--primary-dark-var);
    }

    .navigation{
        display: flex;
        flex-direction: column;
        justify-content: start;
        grid-area: "sidebar";
        list-style-type: none;
        text-align: center;
        height: 100%;
        font-size: 1em;
        font-weight: bold;
        color: white;
        -webkit-text-stroke: 1px var(--dark);
    }

    #favorite-book{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #favorite-book a{
        grid-column: 2;
        grid-row: 2;
        place-self: center;
        position: relative;
        border: 2px solid var(--dark);
        border-radius: 10px;
        background-color: var(--primary-light-var);
        text-decoration: none;
        color:rgb(37, 37, 37);
        padding: 1em;
    }

    #loved-place{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 2em;
    }
}

.header, .sidebar, .content, .footer{
    border: 1px solid rgb(94, 94, 94);
    box-shadow: 3px 3px 3px var(--dark);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1 / -1;
    grid-area: "header";
    background-color: var(--primary-color);
    padding: 1em;
}

.header > h1, .header a{
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    color: var(--secondary-color);
}

.header:hover{
    background-color: var(--primary-dark-var);
}

#user-icon{
    height: 3.5em;
    background-color:var(--primary-light-var);
    border-radius: 50%;
    padding: 0.5em;
}

.content{
    display: grid;
    place-content: center;
    text-align: center;
}

.navigation{
    display: block;
    text-align: center;
}

.navigation > li{
    display: block;
    height: 100%;
    color: white;
    font-size: 1.8em;
    color: white;
    -webkit-text-stroke: 1px black;
    font-weight: bold;
    min-height: 1fr;
}

.navigation > li:first-child{
    min-height: 1fr;
    padding: 1em 0;
}

.navigation > li a{
    display: block;
    text-decoration: none;
    height: 100%;
    padding: 1em 0;
    color: inherit;
    -webkit-text-stroke: 1px black;
}

.navigation > li:nth-child(2n){
    background-color: var(--primary-color);
}

.navigation > li:hover{
    background-color: var(--primary-light-var);
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: scroll;
    color: inherit;
}

.content > section{
    display: grid;
    place-content: center;
    border: 2px dotted black; 
    height: 100%;
    width: 100%;
    min-height: 100%;
    block-size: 100%;
}

#home{
    font-size: 2em;
}

#loved-place h2{
    align-self: center;
    padding-bottom: 2em;
}

#loved-place > .place-text{
    flex-basis: 60%;
}

#loved-place p{
    text-align: left;
}

#loved-place a{
    position: relative;
    top: 2em;
    border: 2px solid var(--dark);
    border-radius: 10px;
    background-color: var(--primary-light-var);
    text-decoration: none;
    color:rgb(37, 37, 37);
    padding: 1em;
}

#loved-place > .place-img{
    overflow: scroll;
    border: 3px solid var(--primary-dark-var);
    flex-basis: 40%;
    height: 90%;
}

#loved-place img{
    max-height: 40%;
    min-width: 100%;
    border: 3px solid white;
    display: block;
}

/* #loved-place img:hover{
    
}

#loved-place .hover-view{
    position: absolute;
    left: 30%;
    top: 20%;
    height: 100%;
    width: 60%;
}

#loved-place .hover-view img{
    display: none;
    position: inherit;
    height: 100%;
    width: 60%;
} */

#feedback-form{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#feedback-form form{
    display: inline-block;
    text-align: center;
}

.rating input{
    display: inline;
}

.form-input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    border: 3px solid var(--primary-dark-var);
    border-radius: 8px;
    margin: 2em;
    padding: 1em;
}

/* #feedback-form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 2em;
}

#feedback-form #form-head{
    flex-grow: 1;
}

#feedback-form form{
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
}

#feedback-form #buttons{
    display: inline;
} */

.footer{
    display: grid;
    place-content: center;
    text-align: center;
    grid-area: "footer";
    background-color: var(--primary-color);
    grid-column: 1 / -1;
    color: var(--light-text);
    font-size: 1.3em;
}

.footer a{
    color: inherit;    
}

